<%# if @user.first_name%>
<div class="user">
<h1>Account Information: <%= @user.named %>

<h3>Email: <%= @user.email %> <%= link_to "| Edit Account", edit_user_path(@user) if @user == current_user %></h3><br>


<h4 id="userOrders"  style="color: blue;" >Orders</h4>

<div id="orders" style="display: none; "></div>




<!-- All removed for jquery project -->
<%# @user.trips.each do |trip| if !trip.meals.empty? %>

  <!-- <%# "Order No. #{trip.id}"%> | -->
  <!-- <%# "Date: #{trip.date.strftime("%m/%d/%y, %l:%M %p")}"  if !trip.meals.empty?%> <br> -->

  <%#trip.meals.each do |meal| %>
  <!-- Meal: <%# meal.name %> <br>
  Price: <%# number_to_currency(meal.price) %> <br> -->
  <%# end %>
  <%# end %>

   <%# "Order Total:  #{number_to_currency(trip.total)}" if !trip.meals.empty? %>
   <!-- <br> <br> -->
<%# end %>

<br> <br>
</div>
