

<%= form_for @meal, :html=> { class: 'form-meal' } do |f| %>
<p class="form-title">Add New Meal</p>
<%= render 'form', :f => f %>

<% end %>

<div id="mealResult" style="text-align: center">
  
</div>
